<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hotel Finder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
</head>


<div class="wrapper">
  <div class="hero text-center">
    <h1>Hotel in Europe</h1>
    <p>What would be your choice?</p>
  </div>

  <body>
    <div class="topnav">
      <a href="./">Home</a>
      <a href="./tableau">Data Dashboard</a>
      <a href="/hotel-locator">Hotel Locator</a>
      <a class="active" href="/contact">Contact</a>
      <a href="/machinel">Predict Your Future Hotel Stay Experience!</a>
    </div>

    <div class="container">
      <div class="contact_title">
        <h1 style="text-align: center;">Our Team</h1>
      </div>

      <div class="teammember">

        <section id="main-bio">
          <section id="figure">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <!-- <h2 id="bio-name">Dillon Davis</h2> -->
                <br>
                <img id="bio-image" src="static/images/dillon.jpeg" alt="Dillon Davis">
              </div>
              <div class="col-xs-12 col-md-6">
                <h2>Dillon Davis</h2>
                <ul>
                  <li><strong>Email:</strong> <a href="d.dillondavis@gmail.com">d.dillondavis@gmail.com</a></li>
                  <li><strong>Github:</strong> <a href="https://github.com/dillon-j-davis">Github</a></li>
                  <li><strong>LinkedIn</strong> <a
                      href="https://www.linkedin.com/in/dillon-davis-4b2099166/">LinkedIn</a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </section>


        <section id="main-bio">
          <section id="figure">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <!-- <h2 id="bio-name">Caroline Yan</h2> -->
                <img id="bio-image" src="static/images/caroline.jpeg" alt="Caroline Yan">
              </div>
              <div class="col-xs-12 col-md-6">
                <h2>Caroline Yan</h2>
                <ul>
                  <li><strong>Email:</strong> <a href="#">carolyan1102@gmail.com</a></li>
                  <li><strong>Github:</strong> <a href="https://github.com/carolyan1">Github</a></li>
                  <li><strong>LinkedIn</strong> <a href="https://www.linkedin.com/in/yibing-caroline-yan/">LinkedIn</a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </section>



        <section id="main-bio">
          <section id="figure">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <!-- <h2 id="bio-name">Talha Khan</h2> -->
                <img id="bio-image" src="static/images/talha.jpeg" alt="Talha Khan">
              </div>
              <div class="col-xs-12 col-md-6">
                <h2>Talha Khan</h2>
                <ul>
                  <li><strong>Email:</strong> <a href="ktahla.760@gmail.com">ktahla.760@gmail.com</a></li>
                  <li><strong>Github:</strong> <a href="https://github.com/TalhaK14">Github</a></li>
                  <li><strong>LinkedIn</strong> <a href="https://www.linkedin.com/in/talha-khan-797a731aa/">LinkedIn</a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </section>



        <section id="main-bio">
          <section id="figure">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <!-- <h2 id="bio-name">Naomi Elizalde</h2> -->
                <br>
                <img id="bio-image" src="static/images/naomi.jpeg" alt="Naomi Elizalde">
              </div>
              <div class="col-xs-12 col-md-6">
                <h2>Naomi Elizalde</h2>
                <ul>
                  <li><strong>Email:</strong> <a href="n_elizalde@u.pacific.edu">n_elizalde@u.pacific.edu</a></li>
                  <li><strong>Github:</strong> <a href="https://github.com/nelizalde">Github</a></li>
                  <li><strong>LinkedIn</strong> <a
                      href="https://www.linkedin.com/in/naomi-elizalde-311744108/">LinkedIn</a></li>
                </ul>
              </div>
            </div>
          </section>
        </section>


      </div>




      <footer class="footer">
        <span class="bottom">
          <a href="/contact">Group 4 Contact Us</a>
        </span>

      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <!-- <script src="static/js/data.js"></script> -->
    <script src="static/app.js"></script>
  </body>

</html>